<!DOCTYPE html>
<html>
   <head>
      <title>欢迎来到SQL注入系统</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
   <style type="text/css">
	html,body{
		margin:0;
		padding:0;
		min-width:1120px;
	}
	h3{
		padding:0;
		margin:0;
	}
	.top{
		width:100%;
		height:40px;
	}
	.top_left{
		width:15%;
		text-align:center;
		background-color:#7281ef;
		height:50px;
		line-height:50px;
		float:left;
	}
	.top_left>span>a{
		font-size:20px;
		color:#fff;
		text-decoration: none;
	}
	.top_right{
		float:left;
		width:85%;
		height:50px;
		background-color:#88b0ea;
		text-align:right;
		padding:0 80px 0 0;
		line-height:50px;
		color:#fff;
	}
	.top_right a{
		color:#fff;
		text-decoration: none;
	}
	.main_left{
		width:15%;
		background-color:#9adae0;
		text-align:center;
		color:#fff;
		height:90vh;
		float:left;
	}
	.main_left .left_top{
		padding:20px 0;
		font-size:14px;
	}
	.main_left .left_top .top_two{
		margin:0 0 0 10px;
	}
	.main_left .left_botton{
		width:100%;
		height:50px;
		line-height:50px;
		border:1px solid #ccc;
	}
	.do_get{
		background-color:#51d0b8;
	}
	.main_right{
		height:90vh;
		float:left;
		width:85%;
	}
	.main_right .main_default img{
		width:100%;
		height:90vh;
		display:none;
	}
	.main_one{
		display:none;
	}
	.comn_left{
		width:20vw;
	}
	/*漏洞扫描模块*/
	#SQL2_show .input-group{
		width:45vw;
		margin:20px 20vw;
	}
	#show_SQL2_res{
		width:81vw;
		margin:0 2vw;
		
	}
   </style>
   </head>
   <body>
   	  <!-- 头部 -->
   	  <div class="top">
	  	<div class="top_left">
	  		<span><a href="javascript:void(0)">七夜SQL注入系统</a></span>
	  	</div>
	  	<div class="top_right">	  		
	  		{if condition="$userId neq null"}
	  		<span>欢迎您：{$username}</span>
	  		<span id="layout" style="color:#ccc">退出登陆</span>
	  		{else /}	
	  		<span><a href="/bysj/index/login/login">登陆</a></span>
	  		<span><a href="/bysj/index/login/register">注册</a></span>
	  		<span class="glyphicon glyphicon-user"></span>
	  		<span>未登录</span>  			
	  		{/if}	  		
	  	</div>	   	  
   	  </div>
   	  
   	  <!-- 主要内容 -->
   	  <div class="main">
   	  	 <div class="main_left">
   	  	 	<h3 class="left_top">
   	  	 		<span class="glyphicon glyphicon-heart"></span>
   	  	 		<span class="top_two">欢迎您的到来</span>
   	  	 	</h3>
   	  	 	<div class="left_botton" attr="SQL1">SQL注入学习</div>
   	  	 	<div class="left_botton" attr="SQL2">网站漏洞扫描</div>
   	  	 	<div class="left_botton" attr="SQL3">网站后台扫描</div>
   	  	 	<div class="left_botton" attr="SQL4">SQL手动注入</div>
   	  	 	<div class="left_botton" attr="SQL5">SQL自动注入</div>
   	  	 	<div class="left_botton" attr="SQL6">SQL盲注</div>
   	  	 	<div class="left_botton" attr="SQL7">系统信息</div>   	  	 	
   	  	 </div>
   	  	 
   	  	 <div class="main_right">
   	  	 	<!-- 默认页面 -->  
   	  	 	<div class="m_right main_default" style="display:none">
   	  	 	{if condition="$userId neq null"}
					
	  		{else /}	
	  			<img src="/bysj__PUBLIC__/images/temp_one.jpg" style="display:block" attr="show">
   	  	 		<img src="/bysj__PUBLIC__/images/temp_two.jpg">
   	  	 		<img src="/bysj__PUBLIC__/images/temp_three.jpg">
   	  	 		<img src="/bysj__PUBLIC__/images/temp_four.jpg"> 			
	  		{/if}	  	  	  	 		
   	  	 	</div>	
   	  	 	<!-- 学习模块 -->  	
   	  	 	<div class="m_right main_one" id="SQL1_show">
   	  	 		<div class="comn_left" style="text-align:center;float:left">
   	  	 			<div style="margin:0 20px 0 0">
	   	  	 			<h2>aaa</h2>
	   	  	 			<h3>aaa</h3>
   	  	 			</div>
   	  	 		</div>
   	  	 		<div style="wid" style="width:50vw;margin:20px 0 0 2vw;float:left">   
   	  	 			<div>
   	  	 				111
   	  	 			</div> 		
   	  	 		</div>   	  	 		
   	  	 	</div> 	
   	  	 	<!--网站漏洞扫描模块 -->  	
   	  	 	<div class="m_right main_one" id="SQL2_show" style="display:block">
   	  	 		 <div class="input-group">
            		<input type="text" class="form-control">
           			<span class="input-group-addon">进行扫描</span>
       			 </div>
       			 <table class="table table-bordered" id="show_SQL2_res">
				  <thead>
				    <tr>
				      <th>主机名(host)</th>
				      <th>url地址</th>
				      <th>cookie</th>
				      <th>User-agent</th>
				      <th>操作</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tanmay</td>
				      <td>Bangalore</td>
				      <td>560001</td>
				      <td>Tanmay</td>
				      <td>Bangalore</td>
				    </tr>
				  </tbody>
				</table>
   	  	 	</div> 	
   	  	 	<!-- 后台扫描模块 --> 	
   	  	 	<div class="m_right main_one" id="SQL3_show">
   	  	 		<div class="input-group">
            		<input type="text" class="form-control">
           			<span class="input-group-addon">进行扫描</span>
       			</div>
   	  	 	</div> 	
   	  	 	<!-- SQL手动注入模块 -->  	
   	  	 	<div class="m_right main_one" id="SQL4_show">
   	  	 		<table class="table table-bordered">
				  <caption>边框表格布局</caption>
				  <thead>
				    <tr>
				      <th>名称</th>
				      <th>城市</th>
				      <th>邮编</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tanmay</td>
				      <td>Bangalore</td>
				      <td>560001</td>
				    </tr>
				    <tr>
				      <td>Sachin</td>
				      <td>Mumbai</td>
				      <td>400003</td>
				    </tr>
				    <tr>
				      <td>Uma</td>
				      <td>Pune</td>
				      <td>411027</td>
				    </tr>
				  </tbody>
				</table>
   	  	 	</div> 	
   	  	 	<!-- SQL自动注入模块 -->  	
   	  	 	<div class="m_right main_one" id="SQL5_show">
   	  	 		<table class="table table-bordered">
				  <caption>边框表格布局</caption>
				  <thead>
				    <tr>
				      <th>名称</th>
				      <th>城市</th>
				      <th>邮编</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tanmay</td>
				      <td>Bangalore</td>
				      <td>560001</td>
				    </tr>
				    <tr>
				      <td>Sachin</td>
				      <td>Mumbai</td>
				      <td>400003</td>
				    </tr>
				    <tr>
				      <td>Uma</td>
				      <td>Pune</td>
				      <td>411027</td>
				    </tr>
				  </tbody>
				</table>
   	  	 	</div> 	
   	  	 	<!-- SQL盲注模块 -->   	
   	  	 	<div class="m_right main_one" id="SQL6_show">
   	  	 		<table class="table table-bordered">
				  <caption>边框表格布局</caption>
				  <thead>
				    <tr>
				      <th>名称</th>
				      <th>城市</th>
				      <th>邮编</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>Tanmay</td>
				      <td>Bangalore</td>
				      <td>560001</td>
				    </tr>
				    <tr>
				      <td>Sachin</td>
				      <td>Mumbai</td>
				      <td>400003</td>
				    </tr>
				    <tr>
				      <td>Uma</td>
				      <td>Pune</td>
				      <td>411027</td>
				    </tr>
				  </tbody>
				</table>
   	  	 	</div> 	
   	  	 	<!-- 系统信息模块 -->	
   	  	 	<div class="m_right main_one" id="SQL7_show">
   	  	 		<h2  style="text-align:center;">SQL injection system design</h2>
				<p>SQL injection name to know lots of people, but few really know people, people just know something about SQL injection of probably the most obvious cognition, cognition is also the most simple.On the other hand, because the employees don't attach importance to and do not understand, SQL injection is still one of the largest invasion threat website way.Based on the present situation, a website based on PHP + redis queue SQL injection system arises at the historic moment.</p>
				<p>This system is a secondary attack system and learning system, based on BS architecture, the back-end using python injection tests, PHP test injection, according to the results and the front desk for Taiwan before and after using the bootstrap + AJAX interactions, using Apache server as a web server, is dedicated to helping people to understand, learn and use the SQL injection.</p>
				<p>This article first introduces the background of the construction of the system, as well as the development of the technology used by the system, and then to the system requirements analysis and general design, system and database design.Finally listed the system implementation of the code, and test results, along with the summary of the development of the system.</p>
				<p>SQL injection system based on the HTML page provides people with a platform of study and work, through the system can learn the knowledge of SQL injection, site information, scan the website loophole and SQL injection attacks.At the same time, because of their learning SQL injection attacks, can very good protection on their website.</p>
   	  	 	</div> 	
   	  	 </div>
   	  </div>
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script>
	  	$(document).ready(function(){
	  		//左侧选中效果
	  		$('.left_botton').click(function(){
	  			//选中效果
	  			$('.left_botton').removeClass('do_get');
	  			$(this).addClass('do_get');
	  			$('.m_right').hide();
	  			$('#' + $(this).attr('attr') + '_show').show();
	  		});
	  		//退出登陆
	  		$("#layout").click(function(){
	  			$.ajax({
	  				url:"/bysj/index/index2/layout",
	  				type:"POST",
	  				success:function(){
	  					window.location.reload();
	  				}
	  			})
	  		});
	  		//首页轮播
	  		setInterval('img_display()',3000);
	  	});
	  	var display_time = 1;
	  	function img_display(){
	  		//alert(display_time);
	  		if(display_time <4){
	  			$('.main_default>img[attr = "show"]').css('display','none').attr('attr','').next('img').css('display','block').attr('attr','show');	  			
	  			display_time++;
	  		}else{	  			
	  			$('.main_default>img:first-child').css('display','block').attr('attr','show');
	  			display_time = 1;
	  		}	  		
	  	}
	  </script>
   </body>
</html>